//Tokens primitivos
$_eucalyptus: #289f5f;
$_green-pea: #19623b;
$_baltic-sea: #282729;
$_cod-gray: #181818;
$_dove-gray: #666;
$_boulder: #777;
$_white: #fff;
$_alabaster: #fafafa;
$_gallery: #ececec;

//Tokens de 2º nivel
$primary-color: $_eucalyptus;
$primary-dark-color: $_green-pea;

$background-dark-color: $_baltic-sea;
$background-darker-color: $_cod-gray;
$background-light-color: $_alabaster;
$background-lighter-color: $_white;